body {
    background-color: rgb(255, 149, 10);
    font-family: 'Kristen ITC';
}

.index-title {
    color: plum;
    left: 0;
}

.justify-content-end {
    padding-top: 10px;
    background-color: white;
    font-family: 'Arial';
}